<IfModule mod_rewrite.c>
    RewriteEngine On

    # Cegah infinite loop jika URI sudah berada di dalam /public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle root domain
    RewriteRule ^$ public/index.php [L]
</IfModule>
